* {
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav {
    padding: 0;
}

.nav-font {
    font-family: "Bauhaus 93";
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1300px) {
    .container {
        
    }
}